*{
	margin: 0;
	padding: 0;
}
body{
	width: 100%;
	background: linear-gradient(to top, rgba(0,0,0,0.5)50%, rgba(0,0,0,0.5)50%), url(river.jpg);
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	height: 100vh;

}
.navbar{
	width: 100%;
	height: 75px;
	margin: auto;
	background: dimgrey;
  
}
.icon{
	
	
	width: 300px;
	float: left;
	height: 70px;
	position: absolute; 
	top: 8px;;
	left: 16px;
	

}
.logo{
	color: aqua;
	font-size: 30px;
	font-family: Arial;
	padding-left: 0px;
	float: left;
	padding-top: 10px;}
.menu{
	width: 1100px;
	float: left;
	height: 70px;
	padding-top: 40px;
}
ul{
	float: right;
	display: flex;
    justify-content: center;
	align-items: center;
	position: absolute; 
	top: 30px;
	left: 200px;
}
ul li{
	

	list-style: none;
	margin: 72px;
	margin-top: 0px;
	font-size: 16px;
	font-family: Arial;
}
ul li a{
	text-decoration: none;
	color: white;
	font-family: Arial;
	font-weight: bold;
	transition: 0.1s ease-in-out;
}
ul li a:hover{
	color: lightblue
}
.search-box{
          position: absolute;
          top: 35px;
          left: 90%;
          transform: translate(-50%,-50%); 
          background: white;
          height: 20px;
          border-radius: 20px;
          padding: 10px;}
         
      .search-btn{
          colour: red;
          position: absolute;
          top: 25%;
          left: 80%;
          float: right;
          width: 40px;
          height: 40px;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-item: center;
          text-decoration: none;
      }
      .search-txt{
          border: none;
          background: none;
          outline: none;
          float: left;
          padding: 0px;
          color: black;
          font-size: 16px;
          transition: 0.4s;
          
          width: 200px;
      }
      .paragrah{
      width: 100%;
      height: 700px;
     
      color: aqua;
      position: relative;
      top: 70px;
      
 }
 .paragrah .h{
 	position: absolute;
 	left: 150px;
 	top: 120px;
 	font-size: 60px;
 }
 .paragrah .par{
 	position: absolute;
 	left: 150px;
 	top: 200px;
 	font-family: Arial;
 	font-size: 20px;
 	letter-spacing: 1.2px;
 	line-height: 30px;
 }
 
      .cn{
      	position: absolute;
      	left: 250px;
      	top: 500px;
      	
      	width: 100px;
      	height: 40px;
      	background-color:  aqua;
      	border: none;
      	margin-bottom: 10px;
      	margin-left: 20px;
      	font-size: 18px;
      	border-radius: 10px;
      	
      	
      }
      .cn a{
      	text-decoration: none;
      	color: darkblue;
      	transition: .3s ease;
      	width: 100px;
      	height: 40px;
}
     .cn a:hover{
     color: white;
      }
      .form{
      	  width: 300px;
      	  height: 250px;
      	 background-color: linear-gradient(to top,rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%);
          position: absolute;
          left: 1050px;
          top: 180px;
      }
      .form .p{
      	position: absolute;
          left: 25px;
          font-size: 32px;
          
      }
       
      .log{
      	position: absolute;
          top: 60px;
      	left: 100px;
      	transform: translate(-50%,-50%); 
          background: white;
          border-radius: 10px;
          height: 10px;
         width: 300px;
          padding: 10px;
      }
      .pas{
      	position: absolute;
      	top: 110px;
      	left: 100px;
      	transform: translate(-50%,-50%); 
          background: white;
           border-radius: 10px;
          height: 10px;
          width: 300px;
          padding: 10px;
      }
     .btnn{
     	position: absolute;
     	top: 160px;
     	left: 100px;
     	transform: translate(-50%,-50%);

     	height: 35px;
     	width: 100px;

     	padding: 10px;

     }
      .link{
      	 position: absolute;
      	top: 180px;
      padding-left: 10px;
      font-size: 16px;
      }
       .sign{
       	position: absolute;
      	top: 210px;
      	padding-left: 45px;
      	text-decoration: none;
      	color: lightblue;
      	font-size: 16px;
       }
       address{
        position: absolute;
        top: 600px;
       }
       @media screen and (max-width: 1200px) {
        //iphone screen//
        body{
        	position: absolute;
        	left: 0;
        }
       .navbar{
       	width: 1518px;
       	height: 110px;
       margin: auto;
       }
       .icon{width: 200px;
	float: left;
	height: 110px;
	position: absolute; 
	top: 0px;;
	left: 0px;
	background-color: black;
}
  .search-txt{
          border: none;
          background: none;
          outline: none;
          float: left;
          padding: 0px;
          color: black;
          font-size: 35px;
          transition: 0.4s;
          
          width: 400px;
      }
    .search-btn{
      position: absolute;
          top: 25%;
          left: 80%;
          float: right;
          width: 40px;
          height: 40px;
      font-size: 35px;
          border-radius: 50%;
          display: flex;
          justify-content: center;
        
          text-decoration: none;
    }
       .logo{
       	font-size: 3.5vw;
       }
       ul{
       	margin-left:8px;
       }
       ul li{
       	margin-left: 16px;
       }
       ul li a{
       	font-size: 4.5vw
       }
             .search-box{
          position: absolute;
          top: 150px;
        width: 400px;
           
          background: white;
          height: 50px;
          border-radius: 40px;
         }
       
      .paragrah{
      width: 1518px;
      height: 700px;
     
      color: aqua;
      position: relative;
      top: 150px;
      
 }
 .paragrah .h{
 	position: absolute;
 	left: 50px;
 	top: 120px;
 	font-size: 120px;
 }
 .paragrah .par{
 	position: absolute;
 	left: 50px;
 	top: 400px;
 	font-family: Arial;
 	font-size: 80px;
 	letter-spacing: 1.2px;
 	line-height: 100px;
 }
      .cn{
      	position: absolute;
      	left: 600px;
      	top: 1650px;
      	
      	width: 300px;
      	height: 120px;
      	background-color:  aqua;
      	border: none;
      	margin-bottom: 10px;
      	margin-left: 20px;
      	font-size: 80px;
      	border-radius: 140px;
 }
 address{
        position: absolute;
        top: 2500px;
        left: 20px;
        font-size: 50px;
        width: 200px;
       }
 @media screen and (max-width: 1200px){
 	body{
 		
 		height: 180vh;
 	}
 	.form{
      	  width: 1000px;
      	  height: 650px;
      	 background-color: linear-gradient(to top,rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%);
          position: absolute;
          left: 400px;
          top: 1800px;
      }
      .form .p{
      	position: absolute;
          left: 15px;
          font-size: 80px;
          
      }
       
      .log{
      	position: absolute;
          top: 150px;
      	left: 200px;
      	transform: translate(-50%,-50%); 
          background: white;
          border-radius: 40px;
          height: 50px;
         width: 700px;
         font-size: 60px;
          padding: 10px;
      }
      .pas{
      	position: absolute;
      	top: 230px;
      	left: 200px;
      	transform: translate(-50%,-50%); 
          background: white;
           border-radius: 400px;
          height: 50px;
          width: 700px;
          font-size: 60px;
          padding: 10px;
      }
     .btnn{
     	position: absolute;
     	top: 330px;
     	left: 200px;
     	transform: translate(-50%,-50%);

     	height: 60px;
     	width: 400px;
font-size: 40px;

     	padding: 10px;

 }
 .link{
      	 position: absolute;
      	top: 380px;
      padding-left: 10px;
      font-size: 80px;
      }
       .sign{
       	position: absolute;
      	top: 480px;
      	padding-left: 10px;
      	text-decoration: none;
      	color: lightblue;
      	font-size: 60px;